<section>
  <h2>Are you sure you want to delete your forum: <%= @forum.title %>?</h2>
  <p><b><em>THIS CANNOT BE UNDONE!</em></b></p>
  <form action='/forums/<%= @forum.slugF %>' method='POST'>
    <input type='hidden' name='_method' id='hidden' value='DELETE'/>
    <input type='submit' value='Delete Forum'/>
  </form>
</section>
