<section>
  <form action='/forums' method='POST'>
    <section>
      <label for='title'>Forum Title: </label>
      <input type='string' name='forum[title]' id='title'/>
    </section>
    <br/>
    <section>
      <label for='topic'>Forum Topic: </label>
      <br/>
      <textarea rows='5' cols='50' name='forum[topic]' id='topic' placeholder="Describe your forum's topic."></textarea>
    </section>
    <br/>
    <section>
      <input type='submit' value='Create New Forum'/>
    </section>
  </form>
</section>
