<section>
  <form action='/users' method='POST'>
    <section>
      <label for='username'>Username: </label>
      <input type='text' name='user[username]' id='username'/>
    </section>
    <br/>
    <section>
      <label for='email'>E-mail: </label>
      <input type='email' name='user[email]' id='email'/>
    </section>
    <br/>
    <section>
      <label for='password'>Password: </label>
      <input type='password' name='user[password]' id='password'/>
    </section>
    <br/>
    <section>
      <label for='password_verification'>Confirm Password: </label>
      <input type='password' name='password_verification' id='password_verification'/>
    </section>
    <br/>
    <section>
      <input type='submit' value='Sign Up'/>
    </section>
  </form>
</section>
